@import url(https://fonts.googleapis.com/css?family=Public+Sans:400,400i,700,700i);

:root {
  --textWidth: 50vw;
  --mobileWidth: 90vw;
  --maxWidth: 900px;
  --hightlightColor: #ee2b2b;
}

body {
  font-family: "Public Sans", Helvetica, sans-serif;
  margin: 0;
  background: #f9f9f9;
}

a {
  color: black;
  font-weight: 600;
  text-decoration: underline;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: white;
  border-bottom: #ee2b2b 1px solid;
}

.title-container {
  width: var(--textWidth);
  max-width: var(--maxWidth);
  margin: auto;
}

.title-info h1 {
  font-size: 4em;
  margin: 50px;
  text-align: center;
}

.title-info h4 {
  font-size: 2em;
  margin: 20px;
  text-align: center;
}

.byline {
  font-size: 1.2em;
  text-align: center;
  margin: 40px;
  font-weight: 600;
}

.body-text {
  width: var(--textWidth);
  max-width: var(--maxWidth);
  margin: auto;
  line-height: 1.6;
  font: 1.25em/1.6 "Public Sans", Helvetica, sans-serif;
  /*
  text-align: justify;
  word-spacing: -1px;
  */
}

.highlight {
  background-color: var(--hightlightColor);
  color: white;
  border-radius: 5px;
  padding: 2px;
  font-weight: 600;
}

#tableLink {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#tableLink:hover {
  text-decoration: underline;
}

#dep-select {
  font-family: "Public Sans", Helvetica, sans-serif;
  background-color: var(--offwhiteColor);
  border: "black" 1px solid;
  border-radius: 5px;
  margin: 10px;
  margin-left: 0;
  width: 100%;
  padding: 5px;
  font-style: italic;
  font-size: 1em;
}

#table {
  width: 85%;
  margin: auto;
  height: 500px;
}

.space {
  background-color: green;
  height: 1000px;
}

.scroller {
  position: relative;
  padding: 10px 20px;
  width: 40%;
  margin-top: 90vh;
  margin-bottom: 20vh;
  margin-left: 5%;
  text-align: justify;
  word-spacing: -2px;
  margin-right: auto;
  line-height: 1.4;
  font-size: 1.3em;
}

.tooltip {
  position: absolute;
  background: #fff;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  pointer-events: auto;
  position: relative;
  max-width: 40%;
  min-width: 40%;
  z-index: 10;
}

.tooltip-content {
  padding: 2px;
}

.tooltip-info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#sIntro {
  margin-top: -20vh;
}

#sClosing {
  padding-bottom: 40vh;
}

.graphic-container {
  position: sticky;
  top: 0vh;
  z-index: 1;
  margin: auto;
  margin-right: 0;
  width: 100%;
  display: flex;
  opacity: 0;
}

svg {
  position: absolute;
  margin-left: 50%;
  z-index: 3;
}
