@import url(https://fonts.googleapis.com/css?family=Public+Sans:400,400i,700,700i);

:root {
    --textWidth: 50vw;
    --mobileWidth: 90vw;
  }

body {
    font-family: "Public Sans", Helvetica, sans-serif;
    padding: 1em;
    margin: 0 auto;
    background: #f9f9f9;
  }

.title-container {
    width: var(--textWidth);

    margin: auto;
  }

.body-text {
    width: var(--textWidth);
    margin: auto;
}

#table {
  width: 75%;
  margin: auto;
  height: 500px;
}

.space {
  background-color: green;
  height: 1000px;
}

.scroller {
  position: relative;
  padding: 10px 20px;
  width: 30%;
  margin-top: 90vh;
  margin-bottom: 20vh;
  text-align: left;
  margin-right: auto;
  line-height: 1.2;
  z-index: 2;
}

.graphic-container {
  position: sticky;
  top: 20vh;
  z-index: 1;
  margin: auto;
  margin-right: 0;
  width: 100%;
  display: flex;
}

svg {
  margin-left: auto;
}